body, html {
	overflow:  hidden;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #111111;
	background-image: url('/design/bg-stars.png');
	height: 100%;
	padding: 0px;
	margin: 0px;
}


ul{
	padding:0px;
}

@font-face {
	font-family: Hunger;
	src: url(../design/fonts/Hunger.ttf);
}

/* FINAL */

.window {
	margin-top:100px;
	text-align: center;
}

/*footer*/

.ftr {
	position: fixed;
	bottom:0;
	height: 46px;
	background-color: #000000;
	width: 100%;
	left: 0;
}

.ftr__pgh {
	color: #ffffff;
	padding-top: 2px;
	float: right;
	margin-right: 50px;
	font-size: 15px;
	margin-bottom:0px;
}

/*menu*/

.menu {
	list-style: none;
}

.menu__main {
	width: 300px;
	height: 300px;
	border-radius: 20px;
	box-shadow: 0 10px 100px rgba(100,0,0,1.0);
	background-color: rgba(240,240,255,0.5);
	margin: auto; 
	padding-top: 20px;
}

.menu__btn {
	background: #B54B3A;
	background-image: -webkit-linear-gradient(top, #B54B3A, #B34332);
	background-image: -moz-linear-gradient(top, #B54B3A, #B34332);
	background-image: -ms-linear-gradient(top, #B54B3A, #B34332);
	background-image: -o-linear-gradient(top, #B54B3A, #B34332);
	background-image: linear-gradient(to bottom, #B54B3A, #B34332);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	background: #3498db;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.menu__btn:hover {
	background: #B54B3A;
	background-image: -webkit-linear-gradient(top, #B54B3A, #B34332);
	background-image: -moz-linear-gradient(top, #B54B3A, #B34332);
	background-image: -ms-linear-gradient(top, #B54B3A, #B34332);
	background-image: -o-linear-gradient(top, #B54B3A, #B34332);
	background-image: linear-gradient(to bottom, #B54B3A, #B34332);
	text-decoration: none;
}

.title {
	font-size: 60px;
	font-family: Hunger;
	color: white;
}


